Flask==2.0.1
pandas==1.1.5  # This is compatible with older versions of numpy
numpy==1.19.5  # Compatible with Python 3.9 and pandas 1.1.5
openpyxl==3.0.10
indic-nlp-library==0.81
gunicorn==20.1.0
